@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Montserrat', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.form_input {
  @apply w-full flex rounded-[10px] bg-[#EAEDF2] p-1.5 mt-2.5 text-sm text-gray-500 outline-0 h-[35px] resize-none;
}

.std_button {
  @apply rounded-[10px] bg-[#EAEDF2] h-[80px] flex items-center justify-center text-[#8E8E8E];
}

.green_button {
  @apply bg-[#01B071] font-bold text-white;
}
